
    * {
      font-family: Lato;
    }
    fieldset {
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 16px;
    text-align: center;
    }
    button{
      width: 150px;
      height: 30px;
      border-style: none;
      /* background: url("featherweight_ui.jpg") no-repeat; */
      /* background-position:-340px -510px; */
      background-color: gray;
      color: white;

    }
    input{
      width:130px;
      border-style: none;
    }
    button:hover{
      background-color: lightgrey;
      transition-duration: 2s;
            
    }
