*{
  font-family: Lato;
}
body{
  align-items: flex-start;
  justify-content: space-around;
  display: -moz-box
  display: -webkit-box;
  flex-flow: row wrap;
  display: flex;
  /* background-color: #5D6C80;*/
}
fieldset {
  background-color: whitesmoke;
  border-style: solid;
  border-radius: 16px;
}
button{
  width: 150px;
  height: 30px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none;
  background-color: gray;
  color: white;
}
input{
  width:130px;
  border-style: none;
}
button:hover{
  background-color: lightgrey;
  transition-duration: 2s;
}