*{
  font-family: Lato;
}
body{
  
  /* -moz-column-width: auto;
  -moz-column-count: 3; */
  align-items: flex-start;
  justify-content: space-around;
  display: -moz-box
  display: -webkit-box;
}
fieldset {
  display: flex;
  background-color: whitesmoke;
  border-style: solid;
  border-radius: 16px;
  text-align: center;

}
button{
  width: 150px;
  height: 30px;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none;
  background-color: gray;
  color: white;
}
input{
  width:130px;
  border-style: none;
}
button:hover{
  background-color: lightgrey;
  transition-duration: 2s;
}